<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="3" >
   <parameter name="a" value="abc" />
   <parameter name="values" value="hello" />
<test name="testGuru">
    <parameter name="values" value="UK" />
<classes>
<class name="ParametersWithTestNgFile.ParameterWithTestNGXML"></class>

</classes>
</test>
</suite>